.wrapper{
  background: #f8f9f9;
  font-size: 0.9em;
  margin-top: 2em;
  margin-bottom: 6em;
  position: relative;
}

.content{
  position: relative;
  z-index: 1;
  background: #f8f9f9!important;
}

.preview{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 12em;
}

.code{
  background: #f8f9f9!important;
}

.buttons{
  position: absolute;
  top: 100%;
  right: 0em;
}

.button{
  background-color: rgb(248, 249, 249);
  padding: 1em;
  border: 1px solid transparent;
  font-size: 0.8em;
  cursor: pointer;
  outline: 0;
  color: #3d91ff;
}

.button:hover{
  border-color: #3d91ff;
}

.button:first-child{
  border-bottom-left-radius: 4px;
}

.button:last-child{
  border-bottom-right-radius: 4px;
}

.passiveButton{
  background: #f1f2f2;
  color: #666666;
}

input{
  font-size: 1.6em;
  padding: 0.5em;
}

input:focus{
  outline:2px solid #3d91ff;
}